# Build outputs
*.o
*.a
/create_hdr_isbc
/create_hdr_esbc
/create_hdr_pbi
/create_hdr_cf
/gen_keys
/gen_otpmk_drbg
/gen_drv_drbg
/gen_sign
/sign_embed
/gen_fusescr
/lib_hash_drbg/src/otpmk

# Copied to the top directory by "make"
/uni_sign
/uni_pbi
/uni_cfsign
/platforms/

# Files produced when running the tools from the top directory
*.pub
*.pri
*.out
/srk_hash.txt
/fuse_scr.bin
/rcw_pbi_sec.bin
/secboot_hdrs*.bin

# Debian package build
/debian/cst/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper.log
